<!--
  Generated template for the MantenimientoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mantenimientos</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="card-background-page" >

  <ion-fab right bottom>
    <button ion-fab (click)="openBasicModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Filtrar Mantenimientos" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>



  <ion-list *ngIf="mantenimientos">

    <ion-item *ngFor="let mantenimiento of mantenimientos| search:searchTerm">
      <ion-thumbnail item-start>
        <img [src]="mantenimiento.img">
      </ion-thumbnail>
      <h2>{{mantenimiento.tipo}}</h2>
      <p>{{mantenimiento.camion}} • {{mantenimiento.date | date:'dd/MM/yyyy' }}</p>
      <button ion-button clear item-end>Ver</button>
    </ion-item>



  </ion-list>


</ion-content>
